@charset "utf-8"

@font-face
  font-family: 'awery'
  src: url('../media/fonts/awery.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Christmas Time Personal Use'
  src: url('../media/fonts/ChristmasTime.ttf') format('truetype')
  font-weight: normal
  font-style: normal

// Legacy name from SVG
@font-face
  font-family: 'ChristmasTimePersonalUse-Regula'
  src: url('../media/fonts/ChristmasTime.ttf') format('truetype')
  font-weight: normal
  font-style: normal
