@charset "utf-8"
/* CSS Document */
.social
  position: relative
  background-position: bottom
  display: block

.fb
  background-image: url(assets/media/vector/icons/fb.svg)
  background-repeat: no-repeat
  display: inline-block
  position: relative
  padding: 1.5rem
  border-radius: 2.5rem
  left: 1.0625rem
  top: 1.8125rem
.fb:hover
  background-image: url(assets/media/vector/icons/fb-hover.svg)
  background-repeat: no-repeat
  cursor: pointer
.insta
  background-image: url(assets/media/vector/icons/instagram.svg)
  background-repeat: no-repeat
  position: relative
  padding: 1.5625rem
  display: inline-block
  left: 1.0625rem
  top: 1.8125rem
.insta:hover
  background-image: url(assets/media/vector/icons/insta-hover.png)
  background-repeat: no-repeat
  cursor: pointer
.insta:before
  content: "Instagram"
.ello
  background-image: url(assets/media/vector/icons/ello.svg)
  background-repeat: no-repeat
  position: relative
  padding: 1.5625rem
  display: inline-block
  left: 0.9375rem
  top: 1.8125rem
.ello:hover
  background-image: url(assets/media/vector/icons/ello-hover.svg)
  background-repeat: no-repeat
  cursor: pointer
  content: "(ello)"