@charset "utf-8"
@use "../base/variables" as vars
@use "../base/mixins" as mix

legend
  background: transparent
  color: vars.$brand-danger
  font-weight: bold

fieldset
  border: hidden

textarea
  background-color: vars.$bg-main
  color: vars.$text-dark
  border-radius: vars.$radius-xl

  &:focus
    border: #15DEFF

input[type=radio]:focus
  border: #15DEFF thick

input[type=submit]
  background-color: vars.$bg-alt
  padding: 1rem 1.125rem
  color: vars.$text-dark
