@charset "utf-8"
legend
  background: transparent
  color: #D90003
  font-weight: bold
fieldset
  border: hidden
textarea
  background-color: #FFFFFF
  color: #000000
  border-bottom-left-radius: 1.875rem
  border-bottom-right-radius: 1.875rem
  border-top-left-radius: 1.875rem
  border-top-right-radius: 1.875rem
textarea:focus
  border: #15DEFF

input[type=radio]:focus
  border: #15DEFF thick

input[type=submit]
  background-color: #f1f1f1
  padding: 1rem 1.125rem
  color: #000000
