@charset "utf-8"
@use "../base/variables" as vars
@use "../base/mixins" as mix
/*Chip*/
h3
  color: vars.$brand-danger

.chip
  display: inline-block
  font-family: vars.$font-sans
  padding-inline: 1.5625rem
  block-size: 3.125rem
  font-size: 1rem
  line-height: 3.125rem
  border-radius: 1.5625rem
  background-color: #ccc
  cursor: pointer

  img
    float: left
    margin: 0 0.625rem 0 -1.5625rem
    block-size: 3.125rem
    inline-size: 3.125rem
    border-radius: 50%

.chip-content
  display: none
  position: absolute
  background-color: #FAFAFA
  font-family: vars.$font-sans
  padding-inline: 1.5625rem
  box-shadow: vars.$shadow-sm
  border-radius: 1.5625rem

.chip:hover .chip-content
  display: inline-block
  z-index: 11
  background-color: #f1f1f1

.design
  inline-size: 100%
  background-color: vars.$bg-alt
  position: relative
  z-index: 10
  padding: 10rem 1rem

/*Feedback*/
legend
  font-family: vars.$font-sans
  font-weight: 500
  font-size: 2rem

label
  font-family: vars.$font-sans
  font-size: 1rem
  margin: 1rem

input, textarea
  font-family: vars.$font-sans
  font-size: 1rem

input[type="text"]
  border-inline: none
  border-block: none
  border-block-end: 0.0625rem groove black
  inline-size: 50%
  block-size: 2rem

  &:focus
    border: 0.0625rem solid lightblue

input[type=checkbox]:focus, textarea:focus
  border: 0.0625rem solid lightblue

input[type=submit], input[type=reset]
  padding: 0.625rem
  cursor: pointer
  @include mix.transition-standard(background-color)

input[type=submit]
  background-color: lightgreen
  &:hover
    background-color: green

input[type=reset]
  &:hover
    background-color: red

textarea
  line-height: 2
