@charset "utf-8"

h1
  color: #8A0707
  margin: 0px
  padding: 3px
  text-align: center
  font-size: 36px
  font-family: Odishi

.ninjaimg
  display: block
  text-align: center
  margin: 2rem auto 1rem
  inline-size: 280px
  block-size: auto

  img
    display: block
    margin: 0 auto
    max-inline-size: 100%
    block-size: auto

.design
  inline-size: 100%
  background-color: #eff0f1
  position: relative
  z-index: 10
  padding-bottom: 30px

@media screen and (min-width: 768px)
  h1
    color: #8A0707
    margin: 0px
    padding: 3px
    text-align: center
    font-size: 42px
    font-family: Odishi

  .ninjaimg
    margin: 3rem auto 1.5rem
    inline-size: 360px

  .design
    inline-size: 100%
    background-color: #eff0f1
    position: relative
    z-index: 10
    padding-bottom: 30px