@charset "utf-8"

/******************* Kriss design*******************************/
/* Light Box */
.cursor
  cursor: pointer
.row > .column
  padding: 0 0.5rem
.row:after
  content: ""
  display: table
  clear: both
.column
  float: left
  margin: 0.625rem
  inline-size: 25%
img
  margin-bottom: -0.25rem
img.hover-shadow
  transition: 0.3s
.hover-shadow:hover
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19)
/* End ocaf Light Box */

/*Images*/
.img
  margin: 0 0 0 1.25rem
  display: inline-block
  inline-size: 100%
  block-size: 14.0625rem
/*Descriptions*/
hr.style-img
  border: 0
  inline-size: 5.625rem
  block-size: 0.0625rem
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
.des
  padding: 0.9375rem 0 0 1.5625rem
  border: none
  font-family: 'Open Sans', sans-serif
  text-align: center
.design
  inline-size: 100%
  background-color: #eff0f1
  position: relative
  z-index: 9
.left
  left: 1.5625rem
@media only screen and (min-inline-size: 67.5rem)

  /* Light Box */
  .cursor
    cursor: pointer
  .row > .column
    padding: 0 0.5rem
  .row:after
    content: ""
    display: table
    clear: both
  .column
    float: left
    inline-size: 25%
    margin: 1.9375rem
  img
    margin-bottom: -0.25rem
  img.hover-shadow
    transition: 0.3s
  .hover-shadow:hover
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19)