@charset "utf-8"
/* CSS Document */

/* News Article */
#octagon
  inline-size: 6.25rem
  block-size: 6.25rem
  background: red
  z-index: 11
  position: relative

#octagon:before
  content: ""
  position: absolute
  top: 0
  left: 0
  border-bottom: 1.8125rem solid red
  border-left: 1.8125rem solid #eee
  border-right: 1.8125rem solid #eee
  inline-size: 2.625rem
  block-size: 0

#octagon:after
  content: ""
  position: absolute
  bottom: 0
  left: 0
  border-top: 1.8125rem solid red
  border-left: 1.8125rem solid #eee
  border-right: 1.8125rem solid #eee
  inline-size: 2.625rem
  block-size: 0
.news
  font-family: 'Open Sans', sans-serif
  display: none
  padding: 1.25rem 1.25rem
  line-height: 3.5rem
  border: 0.0625rem groove #ccc
  border-top: none
  text-justify: distribute
  text-align: center
  margin-bottom: 0.850em
  border-bottom-left-radius: 1.25rem
  border-bottom-right-radius: 1.25rem
  border-top-right-radius: 1.25rem
  -o-box-shadow: 0.625rem 0.625rem 0.3125rem 0 rgba(0,0,0,0.75)
  -webkit-box-shadow: 0.625rem 0.625rem 0.3125rem 0 rgba(0,0,0,0.75)
  -moz-box-shadow: 0.625rem 0.625rem 0.3125rem 0 rgba(0,0,0,0.75)
  box-shadow: 0.625rem 0.625rem 0.3125rem 0 rgba(0,0,0,0.75)
.timerstamp
  font-family: "Open Sans" Sans-serif
  font-weight: 300
.post
  font-family: "Open Sans" Sans-serif
  font-style: italic
  display: inline-block

